__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
.idea/
.vscode/
.DS_Store
media/
data/
analysis/output/*
!analysis/output/.gitkeep
!analysis/output/*.png
**/test*.py
**/*_test.py
**/*_tests.py
**/tests/
/runserver.bat
/runcrawler.bat
/runanalyze.bat
/runtests.bat
/analysis/output/